*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.sidebar{
    float: left;
    color: rgba(255, 255, 255, 0.7);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    background-color: rgba(0,0,0,0.9);
    height: calc(100vh - 80px);
}

.brand-logo{
    text-align: center;
    font-size: 30px;
    padding: 10px 5px;
}

.button{
    padding:0 5px;
}

.install{
    border-bottom: 1px solid lightgrey;
}

main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: calc(100% - 150px);
    height: calc(100vh - 80px);
    float: left;
    background-image: linear-gradient(to bottom right, #898c00, #3f4000, #020e11);
}

.navbar{
    display: flex;
    justify-content: space-around;
}

.navbar .button{
    padding:10px 20px;
}
